# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# virtual environments
venv/
.venv/
env/
ENV/

# packaging
*.egg-info/
dist/
build/

# env files (فقط .env.example باید commit شود)
.env

# editors / OS
.vscode/
.idea/
.DS_Store

# logs
*.log
